html {
    scroll-behavior: smooth;
}

/* Definições básicas de estilo */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background: linear-gradient(to bottom, #003366, #004080); /* Gradiente de fundo */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo para o header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Cor de fundo para o header */
    color: #333; /* Cor do texto no header */
    padding: 15px 20px; /* Ajuste o padding para mais espaço */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Garante que o header fique acima de outros conteúdos */
}

/* Estilo do título do header */
header h1 {
    color: black;
    margin: 0;
}

/* Estilo do menu de navegação */
nav {
    margin-right: 60px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: black; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado do link */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 4px; /* Bordas arredondadas */
    position: relative; /* Necessário para a linha aparecer corretamente */
    display: inline-block; /* Garante que o link se comporte como um bloco para efeitos de linha */
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Suaviza transições */
}

nav ul li a::after {
    content: "";
    display: block;
    width: 0; /* Inicialmente a linha está escondida */
    height: 2px; /* Altura da linha */
    background: black; /* Cor da linha */
    position: absolute;
    left: 0;
    bottom: 0; /* Alinha a linha na parte inferior do botão */
    transition: width 0.3s; /* Suaviza a expansão da linha */
}

nav ul li a:hover {
    color: white; /* Cor do texto ao passar o mouse */
    background-color: #2184e7; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Leve aumento de escala para efeito de destaque */
}

nav ul li a:hover::after {
    width: 100%; /* Linha se estende completamente no hover */
}

/* Container do blog */
.blog-container {
    background: #fff;
    margin: 100px auto 20px; /* Aumenta o espaço superior para garantir que não fique escondido atrás do header */
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 1px solid #ddd; /* Adiciona uma borda visível */
    position: relative;
}

/* Botão */
.toggle-btn {
    margin-bottom: 20px; 
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px; /* Ajuste o padding para um botão mais confortável */
    font-size: 16px;
    border: none;
    background-color: #004080;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.toggle-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Leve aumento de escala para efeito de destaque */
}

/* Conteúdo alternável */
.toggle-content {
    display: none;
    margin-top: 20px;
    box-sizing: border-box;
}

.toggle-content.show {
    display: block;
    max-width: 100%; /* Garantia para não exceder a tela */
    width: auto;
    overflow-wrap: break-word; /* Quebra palavras longas */
    word-wrap: break-word; /* Compatibilidade com navegadores mais antigos */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}

/* Estilo para exemplos de código */
pre, code {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    display: block;
    overflow-x: auto; /* Permite rolar horizontalmente se o conteúdo for muito largo */
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 16px; /* Ajusta o tamanho da fonte para melhor leitura */
    color: #333; /* Cor do texto do parágrafo */
}

/* Estilo para elementos de código */
code {
    background-color: #f4f4f4; /* Fundo leve para destacar o código */
    border-radius: 3px;
    padding: 2px 4px;
    font-size: 90%; /* Tamanho da fonte menor para o código */
    color: #0361b9; /* Cor do texto do código */
    border: 1px solid #ddd; /* Borda sutil ao redor do código */
    display: inline; /* Garante que o código fique no mesmo nível que o texto */
}

pre code {
    background-color: #f4f4f4;
    display: block;
    padding: 10px;
}

#css-history {
    padding-top: 70px;
}

/* Estilo ajustado para garantir que a imagem fique abaixo do botão */
.image-container {
    display: block;
    width: 50%; /* Define a largura do container em 60% da largura do seu elemento pai */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
}

.styled-image {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.styled-image:hover {
    transform: scale(1.05);
}

.about {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ececec;
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
}
.about h1 {
    font-size: 1.7em;
    margin-bottom: 10px;
}
.about p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.title-team {
    padding-top: 40px;
}


/* Footer */
footer {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: auto;
}

.unifatecie-logo {
    padding: 50px 0 0 0;
    display: block;         /* Faz com que a imagem seja tratada como um bloco */
    margin: 0 auto;         /* Define a margem automática nas laterais, centralizando o elemento */
}

@media (max-width: 768px) {
    .blog-container {
        padding: 10px;
        width: 90%; /* Largura menor em telas médias */
    }

    h1 {
        font-size: 13px;
        white-space: nowrap;
    }

    #title-main {
        font-size: 18px;
    }

    nav {
        margin-left: 22px;
        padding: 1px; /* Reduz o padding */
        font-size: 14px; /* Diminui o tamanho da fonte */
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    nav ul li {
        margin: 0;
        padding: 0;
    }

    .toggle-content.show {
        padding: 8px; /* Reduz o padding em telas menores */
    }

}